<!-- The app.component (The root component) is not loaded through the router, thus it always sits on localhost:4200 (development). Thus relative paths can be used the same way as absolute here -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li> <!-- Match exact path for routerLinkActive-->
        <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li> <!-- Absolute Path -->
        <!-- <li role="presentation"><a routerLink="servers">Servers</a></li> Relative Path -->
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
