<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" 
            *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{'background-color': odd % 2 !== 0 ? 'mistyrose' : 'transparent'}">
            {{ odd }}
          </li>
        </div>

        <div *appUnless="onlyOdd">
            <li class="list-group-item" *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
        </div>
        
        <!-- <div *ngIf="!onlyOdd">
            <li class="list-group-item" *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
        </div> -->

        <!-- *ngIf transforms to the following behind the scenes -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item" *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
        </div>
        </ng-template> -->

      </ul>
      <p appBasicHighlight>Custom Directive styled area basicHighlight</p>
      <!-- <p appBetterHighlight>Custom Directive styled area betterHighlight</p> -->
      <!-- You can omit the square brackets if a string is to be passed in property binding -->
      <p [appBetterHighlight]="'lightblue'" defaultColor="lightcoral">Custom Directive styled area betterHighlight</p>
      <p appBetterHighlight="lightgreen">Test</p>
      <p [appBetterHighlight]>Test</p>
      <ng-template [ngIf]="onlyOdd">
        <p appBetterHighlight>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
