<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 1 ? '1' : '0'}"
        fragment="loaded"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
        <!-- [queryParams] is a bindable property of the routerLink directive,
        Takes a JavaScript object with key value pairs of the query parameters to be added -->
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet> <!-- Used for all child routes -->
    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>
